<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>{{structureId}}</title>
</head>
<body>

	<script src="{{url}}"></script>
	<script src="/js/ngl_ui.js"></script>
	<script>
	// regen
	 NGL.mainScriptFilePath = "{{url}}";

	 // exposing the stage variable so that we can do things on the console
	 var stage;
	 document.onkeypress = function(e) { default_keypress(stage,e); };

	 document.addEventListener( "DOMContentLoaded", function() {

		stage = new NGL.Stage( "viewport" );

		stage.setParameters({ backgroundColor:"white"} );

		stage.loadFile( "/mmtf/{{structureId}}", { defaultRepresentation: false, ext:"mmtf" } ).then(function(o) {
			console.log("Loaded {{structureId}}");
			defaultNGLRepr(o);
			o.centerView();

		}); //add event listener
	});
	</script>

	<div id="viewport" style="width: 100vw; height: 100vh; display:block;"></div>

</body>
</html>
